SSH_USER="admin"
SSH_USER2="admin2"
BASE_PATH="/mnt/c/Users/user/Desktop/Network/Arista/Arista_scripts"
SWITCH_LIST="$BASE_PATH/switch_list.txt"
ARISTA_KEY="arista_key"
KEY_HOME="/home/user/.ssh"
CONFIG_DIR="$BASE_PATH/config"
LOG_DIR="$BASE_PATH/logs"

# === Web Server Configuration ===
HTTP_PORT=8080
HTTP_SERVER_IP="10.1.1.200"	# IP reachable by all switches
HTTP_SERVER="http://$HTTP_SERVER_IP:$HTTP_PORT"

# === EOS Images and Hashes ===
EOS_IMAGE="EOS-4.34.3M.swi"
EOS64_IMAGE="EOS64-4.34.3M.swi"
IMAGE_PATH="$BASE_PATH/$EOS_IMAGE"
MD5FILE="${EOS_IMAGE}.md5"
MD5PATH="$BASE_PATH/$MD5FILE"

EOS64_SWITCH_TYPE="7050"
